*,
body,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  background: #f7dcdc;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container-two {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

li {
  list-style-type: none;
}

.scroll {
  background-color: #ffffff;
}

header {
  background: #f7dcdc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
  border-bottom: 1px solid;
  -webkit-transition: background-color 1s, -webkit-transform 0.6s;
  transition: background-color 1s, -webkit-transform 0.6s;
  transition: background-color 1s, transform 0.6s;
  transition: background-color 1s, transform 0.6s, -webkit-transform 0.6s;
}

header .main-header {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  top: 12%;
  width: 50%;
}

@media only screen and (max-width: 800px) {
  header .main-header {
    top: 25%;
  }
}

header .main-header h2 {
  font-size: 2.5rem;
  font-family: "Abril Fatface", cursive;
}

@media only screen and (max-width: 800px) {
  header .main-header h2 {
    display: none;
  }
}

header .main-header img {
  display: none;
  width: 2.5rem;
}

@media only screen and (max-width: 800px) {
  header .main-header img {
    display: inline;
  }
}

header #menuButton {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  header #menuButton {
    display: inline;
    position: absolute;
    top: 35%;
    left: 5%;
  }
}

header #mobileBag {
  position: absolute;
  right: 5%;
  top: 35%;
  display: none;
}

@media only screen and (max-width: 800px) {
  header #mobileBag {
    display: inline;
  }
}

.navMobile {
  height: 100vh;
  background-color: #241e36;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.linksMobile {
  display: inline;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0rem;
  padding-left: 15px;
  padding-right: 15px;
  height: 80px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  padding: 0rem 1rem;
}

@media only screen and (max-width: 800px) {
  nav ul {
    display: none;
    color: #f3aca1;
    text-align: center;
    margin-top: -1rem;
  }
}

nav ul li {
  margin: 1rem;
}

@media only screen and (max-width: 800px) {
  nav ul .bag {
    display: none;
  }
}

.pinkText {
  color: #f3aca1;
}

.top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
  padding-top: 8rem;
}

@media only screen and (max-width: 800px) {
  .top-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.top-section h2 {
  font-size: 5rem;
  font-family: "Abril Fatface", cursive;
}

.top-section .sort {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 800px) {
  .top-section .sort {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 1rem;
  }
}

.all-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.8rem;
  justify-items: center;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 800px) {
  .all-products {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.all-products figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.all-products figure h4 {
  font-size: 1.5rem;
}

.all-products figure p {
  font-size: 1.2rem;
}

.all-products img {
  width: 100%;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
  .all-products img {
    width: 90%;
  }
}

#swatchOne,
#swatchTwo {
  width: 2rem;
  margin-top: 1rem;
}

.top-footer {
  background: #241e36;
  color: #f3aca1;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 800px) {
  .top-footer {
    padding-bottom: 2.5rem;
  }
}

.top-footer .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .top-footer .email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-footer .email img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 800px) {
  .top-footer .email img {
    margin-bottom: 1rem;
  }
}

.top-footer .email p {
  font-style: italic;
  margin-bottom: 0.75rem;
}

@media only screen and (max-width: 800px) {
  .top-footer .email p {
    text-align: center;
  }
}

.top-footer .email input {
  background: none;
  border: none;
  border-bottom: 1px solid #f3aca1;
  width: 100%;
  color: #f7dcdc;
  font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {
  .top-footer .email input {
    font-size: 1rem;
  }
}

.top-footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .top-footer .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.top-footer .links ul li {
  padding: 0.75rem;
}

.bottom-footer {
  background: #f3aca1;
  padding: 2rem;
  text-align: center;
  font-size: 1.25rem;
}

.bottom-footer p {
  font-style: italic;
}
/*# sourceMappingURL=main.css.map */